.header {
    background-color: lightblue;
}

.gameScreen {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    margin-top: 10vw;
}

.flex-around {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    margin-top: 10vw;
}
